<form *ngIf="product" #editForm="ngForm" (ngSubmit)="save()">
  <mat-card class="dashboard-card" *ngIf="product">
    <mat-card-header>
      <mat-card-title>
        {{ product.id ? "Editing " + product.name : "Add new Product" }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div *ngIf="feedback" class="alert alert-{{ feedback.type }}">
        {{ feedback.message }}
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            [(ngModel)]="product.name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Product Name"
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input
            matInput
            [(ngModel)]="product.description"
            id="description"
            name="description"
            class="form-control"
            placeholder="Product Description"
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Link to Instructions</mat-label>
          <input
            matInput
            [(ngModel)]="product.instructionUrl"
            id="instructionUrl"
            name="instructionUrl"
            class="form-control"
            placeholder="Link to Instructions"
          />
        </mat-form-field>
      </div>
      <div class="form-group image-field">
        <img [src]="product.imageUrl" *ngIf="product.imageUrl" />
        <mat-form-field>
          <mat-label>Image URL</mat-label>
          <input
            matInput
            [(ngModel)]="product.imageUrl"
            id="imageUrl"
            name="imageUrl"
            class="form-control"
            placeholder="Image URL"
          />
        </mat-form-field>
        <button type="button" mat-icon-button (click)="fileUpload.click()">
          <mat-icon>add_photo_alternate</mat-icon
          ><input
            type="file"
            #fileUpload
            name="fileUpload"
            [hidden]="true"
            (change)="onFileChange($event)"
          />
        </button>
      </div>
      <div class="form-group">
        <mat-slide-toggle [checked]="product.isDeprecated">
          Is Deprecated
        </mat-slide-toggle>
      </div>
    </mat-card-content>
    <mat-card-actions
      ><button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!editForm.form.valid"
      >
        <mat-icon>save</mat-icon> Save
      </button>
      <button mat-button type="button" (click)="cancel()">
        <mat-icon>close</mat-icon> Cancel
      </button></mat-card-actions
    >
  </mat-card>
</form>
