.mat-form-field {
  width: 100%;
}

.mat-card {
  margin: 35px;

  .mat-card-header .mat-card-title {
    padding-top: 8px;
  }

  .mat-card-content {
    margin: 18px;

    .form-group {
      margin-bottom: 15px;
    }

    .image-field {
      display: flex;
      align-items: center;

      img {
        width: 50px !important;
        height: 50px !important;
        border-radius: 25% !important;
      }

      > *:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
}
