<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Products List
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list *ngIf="productList.length > 0">
            <a [routerLink]="['../products', 'new' ]" class="btn btn-default">New</a>

            <mat-list-item *ngFor="let item of productList">
              <img matListAvatar src="/img/surgicalmasks.jpg" alt="N95 Mask">
              <h3 matLine>{{item.name}}</h3>
              <div matLine>{{item.description}}</div>
              <!-- <td>{{item.isDeprecated}}</td> -->
              <!-- mat-raised-button color="primary" -->
              <a mat-button [routerLink]="['../products', item.id ]">Edit</a>&nbsp;
              <button mat-button (click)="delete(item)">Delete</button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions align="start">
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>