<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header class="title-with-button">
          <mat-card-title>
            <span>Manage {{ model.lookupDisplayName }}</span>
          </mat-card-title>
          <a mat-raised-button [routerLink]="['.', 'new']"><mat-icon>add</mat-icon> New</a>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list *ngIf="data.length > 0">
            <mat-list-item *ngFor="let item of data">
              <img
                *ngIf="model.imageField"
                class="lookupImage"
                matListAvatar
                [src]="item[model.imageField]"
                [alt]="item[model.nameField]"
              />
              <h3 matLine>{{ item[model.nameField] }}</h3>
              <div *ngIf="model.descriptionField" matLine>{{ item[model.descriptionField] }}</div>
              <a mat-mini-fab [routerLink]="['.', item.id]" color="primary" matTooltip="Edit"
                ><mat-icon>edit</mat-icon></a
              >&nbsp;
              <button mat-mini-fab (click)="delete(item)" color="error" matTooltip="Delete">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
