<form *ngIf="entry" #editForm="ngForm" (ngSubmit)="save()">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        {{ title }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div *ngIf="feedback" class="alert alert-{{ feedback.type }}">
        {{ feedback.message }}
      </div>
      <div class="form-group" *ngFor="let field of model.formFields">
        <ng-container [ngSwitch]="field.type">
          <mat-form-field *ngSwitchCase="'textarea'">
            <mat-label>{{ field.label }}</mat-label>
            <textarea
              matInput
              [(ngModel)]="entry[field.field]"
              [attr.id]="field.field"
              [attr.name]="field.field"
              [attr.maxlength]="field.options && field.options.maxlength"
              [placeholder]="field.placeholder"
              [attr.rows]="(field.options && field.options.rows) || 5"
              [required]="field.required"
            ></textarea>
          </mat-form-field>
          <mat-form-field *ngSwitchCase="'select'">
            <mat-select
              [(ngModel)]="entry[field.field]"
              [attr.id]="field.field"
              [attr.name]="field.field"
              [placeholder]="field.placeholder"
              [multiple]="field.options.multiple"
              [required]="field.required"
            >
              <mat-option
                *ngFor="let option of field.options.fieldOptions | async"
                [value]="field.options.getOptionValue(option)"
              >
                {{ field.options.getOptionDisplay(option) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngSwitchDefault>
            <mat-label>{{ field.label }}</mat-label>
            <input
              matInput
              [(ngModel)]="entry[field.field]"
              [id]="field.field"
              [name]="field.field"
              [type]="field.type"
              [maxlength]="field.options && field.options.maxlength"
              [placeholder]="field.placeholder"
              [required]="field.required"
            />
          </mat-form-field>
        </ng-container>
      </div>
      <div class="form-group"></div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!editForm.form.valid"
      >
        <mat-icon>save</mat-icon> Save
      </button>
      <button mat-button type="button" (click)="cancel()">
        <mat-icon>close</mat-icon> Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>
