@model DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<div class="row">
    <div class="col mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">What I've Got:</h6>
            </div>
            <div class="card-body">
                <partial name="WhatIHave" for="WhatIHave" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">What I'm Making right now:</h6>
            </div>
            <div class="card-body">
                
                <partial name="WhatImMaking" />
            </div>
        </div>
    </div>
</div>

