<h1 mat-dialog-title>Added to My Inventory</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Which Product?</mat-label>
        <mat-select [(ngModel)]="data.productId" name="productId"
            (ngModelChange)="onProductChange($event)">
            <mat-option *ngFor="let p of products" [value]="p.id">
                {{p.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>How many do you want to add?</mat-label>
        <input matInput type="number" [(ngModel)]="data.amount" name="amount">
    </mat-form-field>
    <br>
    <div *ngIf="!!selectedProduct">
        <img class="product-preview" [src]="selectedProduct.imageUrl" alt="">
        <br>
        <div class="mat-body">{{ selectedProduct.description }} </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="onOkClick()" cdkFocusInitial>Add</button>
</div>
