:host {
  text-align: center;
}

section {
  margin: 0 20px;
}


header.masthead {
  color: white;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 44, 69, 1.0)), url("/img/bg-landing.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

 
}

.mat-card-title {
  margin-bottom: 16px;
}

.support {
  padding: 20px;
  margin: 100px auto;
}

.highlight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #FFFFFF55;
  padding: 20px;
  border-radius: 10px;
  text-align: left;

  mat-card {
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (max-width: 768px) {
  .highlight {
    flex-direction: column;

    mat-card {
      max-width: 100%;
      margin: 10px;
    }
  }
}
