<header class="masthead text-center">
  <div class="mat-display-1 overlay">
    <h1>
      Arkanas Hospitals and Clinics need PPE. We need Makers to source and
      create.
    </h1>
    <div class="mat-subheading-2">
      Registering an account is simple and free.
      <a mat-raised-button *ngIf="auth.loggedIn" [routerLink]="['/dashboard']">
        Go to Dashboard
      </a>
      <button mat-raised-button (click)="auth.login()" *ngIf="!auth.loggedIn">
        Register
      </button>
    </div>
  </div>
</header>

<section class="support">
  <div class="mat-title">There are many ways to provide support:</div>
  <div class="mat-subheading-2">
    Requesting Donations on behalf of a Hospital or Clinic
  </div>
  <div class="mat-subheading-2">
    Giving Donations of PPE or materials to make PPE.
  </div>
  <div class="mat-subheading-2">Making PPE from sourced materials</div>
</section>

<!-- Icons Grid -->
<section class="bg-light text-center">
  <div class="mat-title">Here's some of the things we need:</div>
  <div class="highlight">
    <mat-card>
      <img mat-card-image src="/img/n95mask.jpg" alt="N95 Mask" />
      <mat-card-header>
        <mat-card-title>N95 Respirators</mat-card-title>
        <mat-card-subtitle>N95 yadda yadda</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <img mat-card-image src="/img/surgicalmasks.jpg" alt="Surgical Mask" />
      <mat-card-header>
        <mat-card-title>Surgical Mask</mat-card-title>
        <mat-card-subtitle>surgical masks are good</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <img mat-card-image src="/img/faceshield.jpg" alt="Face Shield" />
      <mat-card-header>
        <mat-card-title>Face Shields</mat-card-title>
        <mat-card-subtitle>shields are good too</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</section>
