/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mat-card-header {
  &.title-with-button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;

    .mat-card-header-text {
      margin-bottom: 0;
    }

    .mat-card-title {
      margin-bottom: 0;
    }
  }
}

.product-preview {
  height: 60px !important;
  width: 60px !important;
  border-radius: 25% !important;
}

header.masthead {
  color: white;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 44, 69, 1)), url('/img/bg-profile.jpg') no-repeat;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex: 1 1 auto;
  padding: 15px 40px;
}

mat-toolbar.mat-toolbar {
  .mat-menu-item {
    flex: 0 1;
    min-width: min-content;
  }
}

.d-flex {
  display: flex;
}

.flex-column {
  @extend .d-flex;
  flex-direction: column;
}

.flex-row {
  @extend .d-flex;
  &.flex-between {
    & > mat-form-field {
      display: block;
      flex: 1 1;
    }
    & > *:not(:first-child):not(button) {
      padding-left: 5px;
    }
    & > *:not(:last-child):not(button) {
      padding-right: 5px;
    }
  }
  flex-direction: row;
}

.flex-column-reverse {
  @extend .d-flex;
  flex-direction: column-reverse;
}

.flex-row-reverse {
  @extend .flex-row;
  flex-direction: row-reverse;
}

.flex-between {
  justify-content: space-between;
}

.flex-grow {
  flex: 1 0;
}

.flex-shrink {
  flex: 0 1;
}

.align-center {
  align-items: center;
}

@media (max-width: 768px) {
  .flex-row.stackable {
    flex-direction: column;
    & > *:not(:first-child):not(button) {
      padding-left: 0;
    }
    & > *:not(:last-child):not(button) {
      padding-right: 0;
    }
  }
  .flex-row-reverse.stackable {
    @extend .flex-row.stackable;
    flex-direction: column-reverse;
  }
}

.init-button {
  .mat-button-toggle-button {
    .mat-button-toggle-label-content {
      display: flex;
      align-items: center;
      line-height: auto;

      .mat-icon {
        font-size: 48px;
        padding: 20px;
        height: 48px;
        width: 48px;
      }
    }
  }
}

.mat-form-field-required-marker {
  color: red;
}
