/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

main {
  overflow-y: auto;
  flex: 1 0;
  display: block;
}

