/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mat-card-header {
  &.title-with-button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;

    .mat-card-header-text {
      margin-bottom: 0;
    }

    .mat-card-title {
      margin-bottom: 0;
    }
  }
}
