<mat-toolbar>
  <a [routerLink]="['/']">Maker Tracker</a>
  <div class="spacer"></div>
  <button mat-button [matMenuTriggerFor]="appMenu">Pages</button>
  <button mat-button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
  <button mat-button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/counter']">Counter</button>
  <button mat-menu-item [routerLink]="['/fetch-data']">Fetch Data </button>
</mat-menu>