<h1 id="tableLabel">My Inventory</h1>

<p *ngIf="!inventory"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="inventory">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Image</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of inventory">
      <td>{{ i.productId }}</td>
      <td>{{ i.productName }}</td>
      <td>{{ i.productImageUrl }}</td>
      <td>{{ i.amount }}</td>
    </tr>
  </tbody>
</table>
