<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header class="title-with-button">
          <mat-card-title>
            <span>Equipment List</span>
          </mat-card-title>
          <a mat-raised-button [routerLink]="['../equipment', 'new' ]"><mat-icon>add</mat-icon> New</a>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list *ngIf="equipment.length > 0">
            <mat-list-item *ngFor="let item of equipment">
              <h3 matLine>{{item.name}}</h3>
              <div matLine>{{item.description}}</div>
              <!-- <td>{{item.isDeprecated}}</td> -->
              <!-- mat-raised-button color="primary" -->
              <a mat-mini-fab [routerLink]="['../equipment', item.id ]" color="primary" matTooltip="Edit"><mat-icon>edit</mat-icon></a>&nbsp;
              <button mat-mini-fab (click)="delete(item)" color="error" matTooltip="Delete"><mat-icon>delete_forever</mat-icon></button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions align="start">
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
