:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.init-group {
  align-items: stretch;
}

.mat-icon.active {
  color: #006400;
}

.init-button {
  display: flex;
}

.init-description {
  line-height: normal;
  white-space: normal;
  padding-right: 20px;
}

.continue {
  margin-top: 15px;
}

.flex-between {
  & > .mat-form-field {
    flex: 1 1;
    display: block;
    min-width: 0;
  }
}
