<mat-card class="dashboard-card" *ngIf="entry">
  <mat-card-header>
    <mat-card-title>
      {{ entry.id ? 'Editing ' + entry.name : 'Add new Equipment' }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="entry" #editForm="ngForm" (ngSubmit)="save()">

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="entry.name" id="name" name="name" class="form-control" maxlength="100"
          placeholder="What type of equipment is this?" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="entry.description" id="description" name="description" class="form-control" maxlength="500"
          placeholder="Describe the equipment..." rows="5"></textarea>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.form.valid"><mat-icon>save</mat-icon> Save</button>
      <button mat-button type="button" (click)="cancel()"><mat-icon>close</mat-icon> Cancel</button>
    </form>
  </mat-card-content>
  <mat-card-actions align="start">
  </mat-card-actions>
</mat-card>
