<header class="masthead text-center">
  <div class="mat-display-1 overlay">
    <h1>
      Your Profile
    </h1>
    <div class="mat-subheading-2">
      Tell us about yourself so we can help connect you to others.
    </div>
  </div>
</header>

<form
  class="dashboard-card"
  [formGroup]="profileForm"
  novalidate
  (ngSubmit)="onSubmit()"
>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Company Name"
              formControlName="companyName"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="First name"
              formControlName="firstName"
            />
            <mat-error
              *ngIf="profileForm.controls['firstName'].hasError('required')"
            >
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Last name"
              formControlName="lastName"
            />
            <mat-error
              *ngIf="profileForm.controls['lastName'].hasError('required')"
            >
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Email Address"
              formControlName="email"
            />
            <mat-error
              *ngIf="profileForm.controls['email'].hasError('required')"
            >
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Phone Number"
              formControlName="phone"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Address"
              formControlName="address"
            ></textarea>
            <mat-error
              *ngIf="profileForm.controls['address'].hasError('required')"
            >
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Address 2"
              formControlName="address2"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="city" />
            <mat-error
              *ngIf="profileForm.controls['city'].hasError('required')"
            >
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="State" formControlName="state">
              <mat-option
                *ngFor="let state of states"
                [value]="state.abbreviation"
              >
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="profileForm.controls['state'].hasError('required')"
            >
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              maxlength="5"
              placeholder="Zip Code"
              type="text"
              formControlName="zipCode"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="About Me"
              formControlName="bio"
              rows="5"
            ></textarea>
            <mat-hint>Tell us about yourself.</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="toggle-section">
        <div class="row">
          <div class="col">
            <mat-slide-toggle formControlName="isSelfQuarantined">
              Are you in self quarantine?
            </mat-slide-toggle>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-slide-toggle formControlName="isDropOffPoint">
              Are you a drop-off point?
            </mat-slide-toggle>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-slide-toggle formControlName="isRequestor">
              Are you a Requestor?
            </mat-slide-toggle>
          </div>
        </div>

        <div class="row">
          <mat-slide-toggle formControlName="isSupplier">
            Are you a Supplier?
          </mat-slide-toggle>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loading"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
