header.masthead {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 44, 69, 1)),
    url('/img/bg-profile.jpg') no-repeat center center;
  background-size: cover;
}

.dashboard-card {
  margin: 20px;
}

.toggle-section {
  padding-top: 15px;
  & > * {
    padding-top: 15px;
  }
}

mat-card-content {
  mat-form-field {
    display: block;
  }
}
