<header class="masthead text-center">
  <div class="mat-display-1 overlay">
    <h1>
      Your Dashboard
    </h1>
    <div class="mat-subheading-2">
      <h2>Welcome!</h2>
      <p>
        In this dashboard, you can see where suppliers and requestors are located, see your PPE you can offer, and/or
        the PPE you need from others.
      </p>
      <p>If you can make or need PPE, you can find and track needs here immediately.</p>
      <p>Issues? Concerns? High praise? Please email the Task Force at pgordon@arhub.org.</p>
    </div>
  </div>
</header>

<div class="grid-container">
  <div class="flex-row flex-between stackable">
    <div class="dashboard-card flex-grow d-flex" *ngIf="isSupplier">
      <mat-card class="flex-column flex-grow">
        <mat-card-header>
          <mat-card-title>
            My Inventory:
          </mat-card-title>
          <mat-card-subtitle>
            This is what products you already have or have made.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list>
            <mat-list-item *ngFor="let i of inventorySummary">
              <img matListAvatar class="product-preview" [src]="i.productImageUrl" [alt]="i.productName" />
              <h3 matLine>{{ i.productName }}</h3>
              <p matLine>
                You have: <span class="mat-body-2">{{ i.amount }} </span>
              </p>
              <button mat-mini-fab matTooltip="Deliver" (click)="openDeliveryDialog(i)" [disabled]="i.amount <= 0">
                <mat-icon>local_shipping</mat-icon></button
              >&nbsp;
              <button mat-mini-fab (click)="openInventoryDialog(i)" color="primary" matTooltip="Edit">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions align="start">
          <button mat-raised-button color="primary" (click)="openInventoryDialog()">
            <mat-icon>add</mat-icon> Add Inventory
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="dashboard-card flex-grow d-flex" *ngIf="isRequestor">
      <mat-card class="flex-column flex-grow">
        <mat-card-header>
          <mat-card-title>
            My Needs:
          </mat-card-title>
          <mat-card-subtitle>
            These are the products you have recorded needs for.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list>
            <mat-list-item *ngFor="let i of needs">
              <img
                matListAvatar
                class="product-preview"
                [src]="getProductField(i, 'imageUrl')"
                [alt]="getProductField(i, 'name')"
              />
              <h3 matLine>{{ getProductField(i, 'name') }}</h3>
              <p matLine>
                <span *ngIf="i.outstandingQuantity > 0">
                  You still need <span class="mat-body-2">{{ i.outstandingQuantity }}</span>
                  <span *ngIf="i.outstandingQuantity > 0 && i.dueDate" [class.overdue]="i.isOverdue">
                    by {{ i.dueDate | date: 'shortDate' }}</span
                  ></span
                >
                <span *ngIf="i.outstandingQuantity <= 0" class="text-success"> Need Met!</span>
              </p>
              <button
                *ngIf="i.outstandingQuantity <= 0"
                mat-mini-fab
                (click)="fulfill(i)"
                class="text-success"
                matTooltip="Mark as Fulfilled"
              >
                <mat-icon>check</mat-icon></button
              >&nbsp;
              <button mat-mini-fab (click)="openNeedDialog(i)" color="primary" matTooltip="Edit">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions align="start">
          <button mat-raised-button color="primary" (click)="openNeedDialog()">
            <mat-icon>add</mat-icon> Create Need Request
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="flex-row flex-between stackable">
    <div class="dashboard-card flex-grow d-flex">
      <mat-card class="flex-column flex-grow iframe-card">
        <mat-card-content class="dashboard-card-content d-flex">
          <iframe
            src="https://nis-llc.maps.arcgis.com/apps/Embed/index.html?webmap=36355c9b4fd34fa99d89165efb59a280&extent=-96.5287,32.8196,-88.4152,36.5538&zoom=true&previewImage=false&scale=true&legendlayers=true&disable_scroll=true&theme=dark"
          ></iframe>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
