.grid-container {
  margin: 20px;
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.iframe-card {
  padding: 0 !important;
  min-height: 550px;
}

iframe {
  border: 0;
  border-radius: 4px;
  flex: 1 1;
}

.mat-card-header {
  flex-shrink: 0;
}

.dashboard-card {
  margin-bottom: 20px;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

.overdue {
  color: red;
}

header.masthead {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 44, 69, 1)),
    url('/img/bg-dashboard.jpg') no-repeat center center;
  background-size: cover;
}
