<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            My Inventory:
          </mat-card-title>
          <mat-card-subtitle>
            This is what products you already have or have made.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list>
            <mat-list-item *ngFor="let i of inventorySummary">
              <img matListAvatar class="product-preview" [src]="i.productImageUrl" [alt]="i.productName">
              <h3 matLine> {{i.productName}} </h3>
              <div matLine>You have: <span class="mat-body-2">{{i.amount}} </span></div>
              <button mat-button color="secondary" (click)="openDeliveryInventoryDialog(i)">Deliver</button>
              <button mat-button color="primary" (click)="openEditInventoryDialog(i)">Update Count</button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions align="start">
          <button mat-raised-button color="primary" (click)="openAddInventoryDialog()">Add Product</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>