<mat-toolbar color="primary">
  <a mat-button [routerLink]="['/']">Maker Tracker</a>
  <div class="spacer"></div>
  <ng-container *ngIf="!isCollapsed; else collapsedMenu">
    <ng-container *ngFor="let item of filteredMenuItems | async">
      <ng-container *ngIf="!item.isDivider; else verticalDivider">
        <!-- TODO: Add support for dropdown menus -->
        <ng-container *ngTemplateOutlet="item.route ? routeItem : actionItem; context: { $implicit: item }">
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</mat-toolbar>

<ng-template #collapsedMenu>
  <button mat-button [mat-menu-trigger-for]="headerMenu">
    <mat-icon>menu</mat-icon>
   </button>
</ng-template>

<mat-menu #headerMenu="matMenu">
  <ng-container *ngFor="let item of filteredMenuItems | async">
    <ng-container *ngIf="!item.isDivider; else divider">
      <ng-container *ngTemplateOutlet="item.route ? routeItem : actionItem; context: { $implicit: item }">
      </ng-container>
    </ng-container>
  </ng-container>
</mat-menu>

<ng-template #verticalDivider>
  <mat-divider [vertical]="true"></mat-divider>
</ng-template>

<ng-template #divider>
  <mat-divider></mat-divider>
</ng-template>

<ng-template #routeItem let-item>
  <button mat-button [routerLink]="item.route">{{ item.text }}</button>
</ng-template>

<ng-template #actionItem let-item>
  <button mat-button (click)="item.action()">{{ item.text }}</button>
</ng-template>
