<mat-toolbar color="primary">
  <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button> -->
  <a mat-button [routerLink]="['/']">Maker Tracker</a>
  <div class="spacer"></div>
  <button mat-button [matMenuTriggerFor]="appMenu">Pages</button>
  <button mat-button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
  <button mat-button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/dashboard']">Dashboard</button>
  <button mat-menu-item [routerLink]="['/products']">Manage Products</button>
</mat-menu>