<mat-toolbar>
  <a mat-button [routerLink]="['/']">Maker Tracker</a>
  <div class="spacer"></div>
  <ng-container *ngIf="!isCollapsed; else collapsedMenu">
    <ng-container *ngFor="let item of filteredMenuItems | async">
      <ng-container *ngTemplateOutlet="plainRender; context: { $implicit: item }"></ng-container>
    </ng-container>
  </ng-container>
</mat-toolbar>

<ng-template #plainRender let-item>
  <ng-container [ngSwitch]="item.type">
    <ng-container *ngSwitchCase="menuItemTypes.Route">
      <ng-container *ngTemplateOutlet="routeItem; context: { $implicit: item }"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="menuItemTypes.Action">
      <ng-container *ngTemplateOutlet="actionItem; context: { $implicit: item }"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="menuItemTypes.Divider">
      <ng-container *ngTemplateOutlet="divider; context: { $implicit: item }"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="menuItemTypes.Dropdown">
      <ng-container *ngTemplateOutlet="isCollapsed ? dropdownFlatten : dropdown; context: { $implicit: item }">
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #dropdownFlatten let-item>
  <ng-container *ngFor="let subItem of item.items">
    <ng-container *ngTemplateOutlet="plainRender; context: { $implicit: subItem }"></ng-container>
  </ng-container>
</ng-template>

<ng-template #collapsedMenu>
  <button mat-button [mat-menu-trigger-for]="headerMenu">
    <mat-icon>menu</mat-icon>
  </button>
</ng-template>

<ng-template #dropdown let-item>
  <button
    *ngIf="item.icon"
    mat-icon-button
    [mat-menu-trigger-for]="dropdownMenu"
    [matMenuTriggerData]="{ $implicit: item }"
  >
    <mat-icon>{{ item.icon }}</mat-icon>
  </button>
  <button
    *ngIf="!item.icon"
    mat-button
    [mat-menu-trigger-for]="dropdownMenu"
    [matMenuTriggerData]="{ $implicit: item }"
  >
    {{ item.text }}
  </button>
</ng-template>

<mat-menu #dropdownMenu="matMenu">
  <ng-template matMenuContent let-item>
    <ng-container *ngFor="let item of item.items">
      <ng-container *ngTemplateOutlet="plainRender; context: { $implicit: item }"></ng-container>
    </ng-container>
  </ng-template>
</mat-menu>

<mat-menu #headerMenu="matMenu">
  <ng-container *ngFor="let item of filteredMenuItems | async">
    <ng-container *ngTemplateOutlet="plainRender; context: { $implicit: item }"></ng-container>
  </ng-container>
</mat-menu>

<ng-template #divider let-item>
  <mat-divider [vertical]="!isCollapsed && !item.isHorizontal" [attr.test]="item.isHorizontal"></mat-divider>
</ng-template>

<ng-template #routeItem let-item>
  <button mat-menu-item [routerLink]="item.route">{{ item.text }}</button>
</ng-template>

<ng-template #actionItem let-item>
  <button mat-menu-item (click)="item.action()">{{ item.text }}</button>
</ng-template>
