<div *ngIf="!!product">
<h1 mat-dialog-title>Update Inventory for {{ product.name }}</h1>
<div mat-dialog-content>
    <mat-list>
        <mat-list-item>
            <img matListAvatar class="product-preview" [src]="product.imageUrl" [alt]="product.name">
            <h3 matLine> {{product.name}} </h3>
            <div matLine>{{product.description }} </div>
        </mat-list-item>
    </mat-list>
    <br>
    <mat-form-field>
        <mat-label>New Amount</mat-label>
        <input matInput type="number" [(ngModel)]="data.newAmount" name="newAmount" min="0" max="10000">
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="onOkClick()" cdkFocusInitial>Update</button>
</div>
</div>